
/*****menu-bar****/
.header-menu-nav-inner {
    display: table;
    width: 100%;
}
/*.header-menu-nav.menu-style-2 .header-menu-nav-inner {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
}*/
.header-menu-nav.menu-style-1 .header-menu,
.header-menu-nav.menu-style-2 .header-menu,
.header-menu-nav.menu-style-3 .header-menu{
  display: table-cell;
  vertical-align: middle;
}
.header-menu-nav.menu-style-2{
  background-color: #f6f6f6;
  margin: 0px 0 0px 0;
}
.header-menu-nav.menu-style-2 .header-nav .menu-item-has-children{
  line-height: 50px;
  padding-bottom: 0;
  padding-top: 0;
}
.header-menu-nav.menu-style-2 .header-nav .menu-item-has-children:nth-child(2){
  padding-left: 20px;
}
.header-menu-bar{
  margin: 0px 0 5px 0;
}
.header-menu-nav{
  z-index: 33;
}
.header-menu-nav.menu-style-1 {
    margin-top: -5px;
}
.header-nav > li,
.header-nav .menu-item-has-children{
  display: inline-block;
  padding: 0 17px;
  position: relative;
  /*height: 40px;*/
  line-height: 40px;
}
.header-nav .menu-item-has-children:nth-child(2){
  padding-left: 0px;
}
.header-nav .menu-item-has-children:last-child{
  padding-right: 0;
}
.header-nav > li a,
.header-nav .menu-item-has-children a{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
}
.menu-item-has-children.arrow > a:after {
  content: "\f107";
  display: inline-block;
  font-family: 'FontAwesome';
  margin-left: 6px;
}
.box-vertical-megamenus .menu-item-has-children.arrow > a:after{
  content: "\f105";
  float: right;
}
.header-nav li a:hover{
  color: #C81E23;
  background-color: transparent;
}
.submenu-banner .col-md-4{
  width: 240px;
}
.submenu-banner-menu-3 .col-md-4{
  padding-bottom: 27px;
  width: 294px;
}
.submenu.parent-megamenu.megamenu{
  padding: 38px 20px 60px 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.menu-style-1 .header-nav .menu-item-has-children:nth-child(4) .submenu.parent-megamenu.megamenu{
  background-image: url("../../images/home1/menu-banner-1.jpg");
  width: 900px;
}
.menu-style-1 .header-nav .menu-item-has-children:nth-child(5) .submenu.parent-megamenu.megamenu{
  background-image: url("../../images/home1/menu-banner-2.jpg");
  width: 1170px;
}
.menu-style-2 .header-nav .menu-item-has-children:nth-child(4) .submenu.parent-megamenu.megamenu,
.menu-style-3 .header-nav .menu-item-has-children:nth-child(4) .submenu.parent-megamenu.megamenu{
  width:900px;
}
.item-megamenu-sub .submenu.parent-megamenu.megamenu{
  padding-bottom: 20px;
}
.dropdown-menu-title{
  color: #333;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
}
.submenu .menu{
  padding-left: 0;
}
.submenu .menu-item{
  border-bottom: 1px solid #e6e6e6;
  margin: 0 15px;
  line-height: 34px;
}
.submenu.megamenu .menu-item{
  margin: 0;
}
.submenu .submenu-banner .menu-item{
  padding: 0;
  line-height: 24px;
  list-style: none;
}
.submenu .menu-item:last-child{
  border-bottom: none;
}
.submenu .menu-item a,
.submenu > .menu-item a{
    font-size: 13px;
    color: #666;
    font-weight: normal;
    text-transform: none;
    padding: 6px 0;
    display: inline-block;
    white-space: nowrap;
}
.submenu > .menu-item a{
  padding: 0;
}
.header-nav .dropdown-menu-info .shop-now{
  padding: 0px 18px;
  font-weight: 600;
  margin-top: 97px;
  margin-left: 19px;
}
.info-big{
  color: #f02222;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}
.info-big span{
  font-size: 16px;
}
.info-small {
    display: inline-block;
    line-height: 16px;
}
.title-theme{
  display: table-cell;
  vertical-align: middle;
  line-height: 50px;
  text-align: right;
  width: 82px;
  font-size: 13px;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
}
.header-menu-nav.menu-style-2 .header-nav .menu-item-has-children:first-child{
  padding-left: 20px;
}
@media (max-width: 1199px) {
  .header-nav .dropdown-menu-info .shop-now{
    margin-top: 133px;
  }
}