@media (max-width: 1366px){
    .main-slide .slide-desc{
      top: 20%;
    }
  }
  @media (max-width: 1199px) {
    .main-slide.slide-opt-1 .item-slide{
      height: 500px;
    }
    .main-slide.slide-opt-2 .item-slide{
      background-size: cover;
    }
    .main-slide.slide-opt-3 .item-slide {
        height: 360px;
    }
    .main-slide.slide-opt-3 .slide-desc-2{
      top: 95px;
    }
    .main-slide.slide-opt-3 .slide-desc-3{
      top: 100px;
    }
    .main-slide.slide-opt-5 .slide-desc{
      top: 90px
    }
    .main-slide.slide-opt-5 .slide-desc-3 {
        top: 105px;
    }
    .main-slide.slide-opt-5 .item-slide {
        height: 354px;
    }
    .banner-slide {
      width: 30.5%;
    }
  }
  @media (max-width: 1024px){
    .main-slide .item-slide:before {
      background-color: rgba(255, 255, 255, 0.60);
      position: absolute;
      width: 100%;
      height: 100%;
      content: '';
      display: inline-block;
    }
  }
  @media (max-width: 991px) {
    .main-slide.slide-opt-1 .item-slide,
    .main-slide.slide-opt-2 .item-slide,
    .main-slide.slide-opt-3 .item-slide,
    .main-slide.slide-opt-4 .item-slide,
    .main-slide.slide-opt-5 .item-slide{
      height: 450px;
    }
    .main-slide .p-primary{
      font-size: 30px;
      line-height: 30px;
    }
    .main-slide.slide-opt-4 .p-primary{
      font-size: 20px;
      line-height: 20px;
    }
    .main-slide.slide-opt-4 p{
      font-size: 15px;
      line-height: 15px;
      margin-bottom: 5px;
    }
    .main-slide.slide-opt-2{
      width: 100%;
    }
    .main-slide.slide-opt-5 .slide-desc {
      top: 120px;
    }
    .main-slide.slide-opt-5 .slide-desc-3 {
      top: 140px;
    }
  }
  @media (max-width: 767px){
    .main-slide.slide-opt-1 .item-slide,
    .main-slide.slide-opt-2 .item-slide,
    .main-slide.slide-opt-3 .item-slide,
    .main-slide.slide-opt-4 .item-slide,
    .main-slide.slide-opt-5 .item-slide{
      height: 400px;
    }
    .main-slide .slide-desc{
      right: inherit;
      left: 10%;
      top: 26%;
    }
    .main-slide.slide-opt-1 .slide-desc.slide-desc-2,
    .main-slide.slide-opt-1 .slide-desc.slide-desc-3 {
      left: 10%;
      top: 26%;
    }
    .main-slide .p-primary,
    .main-slide.slide-opt-1 .slide-desc-2 .p-primary,
    .main-slide.slide-opt-1 .slide-desc-3 .p-primary{
      font-size: 20px;
      line-height: 20px;
    }
    .main-slide p,
    .main-slide.slide-opt-1 .slide-desc-2 p, 
    .main-slide.slide-opt-1 .slide-desc-3 p{
      font-size: 15px;
      line-height: 20px;
    }
    .main-slide .btn-shop-now{
      padding:4px 15px;
      margin-top: 6px;
    }
    .main-slide.slide-opt-2 .slide-desc{
      left:10%;
    }
    .main-slide.slide-opt-4 .slide-desc{
      right: 0;
      top: 120px;
    }
    .main-slide.slide-opt-4 .p-primary{
      font-size: 18px;
    }
    .main-slide.slide-opt-4 .slide-desc-2 .p-second{
      font-size: 15px;
    }
  }
  @media (max-width: 640px){
    .main-slide.slide-opt-1 .item-slide,
    .main-slide.slide-opt-2 .item-slide,
    .main-slide.slide-opt-3 .item-slide,
    .main-slide.slide-opt-4 .item-slide,
    .main-slide.slide-opt-5 .item-slide{
        height: 350px;
      }
      .main-slide.slide-opt-2 .slide-desc{
          top:71px;
          right:10px;
          left: 35%;
      }
      .main-slide.slide-opt-2 .slide-desc-2 .p-primary,
      .main-slide.slide-opt-2 .slide-desc-1 .p-primary,
      .main-slide.slide-opt-2 .slide-desc-3 .p-primary{
          font-size: 24px;
          line-height:20px;
      }
      .main-slide.slide-opt-3 .slide-desc-2{
        top: 75px;
      }
      .main-slide.slide-opt-3 .slide-desc-3{
        top: 100px;
      }
      .main-slide.slide-opt-4 .p-primary {
        font-size: 16px;
        line-height: 15px;
      }
      .main-slide.slide-opt-4 .btn-shop-now{
        margin-top: 7px;
      }
  }
  @media (max-width:480px){
    .main-slide.slide-opt-1 .item-slide,
    .main-slide.slide-opt-2 .item-slide,
    .main-slide.slide-opt-3 .item-slide,
    .main-slide.slide-opt-4 .item-slide,
    .main-slide.slide-opt-5 .item-slide{
        height: 300px;
      } 
    .main-slide .slide-desc,
    .main-slide.slide-opt-1 .slide-desc.slide-desc-2, 
    .main-slide.slide-opt-1 .slide-desc.slide-desc-3{
      max-width: 450px;
      left: 7%;
    }
      .main-slide.slide-opt-2 .slide-desc-2 .p-primary, 
      .main-slide.slide-opt-2 .slide-desc-1 .p-primary, 
      .main-slide.slide-opt-2 .slide-desc-3 .p-primary{
          font-size:18px;
      }
      .main-slide.slide-opt-2 .slide-desc-1 p,
      .main-slide.slide-opt-2 .slide-desc-2 p,
      .main-slide.slide-opt-2 .slide-desc-3 p{
          font-size: 13px;
      }
      .main-slide.slide-opt-3 .slide-desc-1{
          top: 55px;
          left: 32px;
      }
      .main-slide.slide-opt-3 .p-primary{
        font-size: 18px;
        line-height: 20px;
      }
      .main-slide.slide-opt-3 .slide-desc-2 .p-primary{
        font-size: 21px;
        line-height: 8px;
      }
      .main-slide.slide-opt-3 .slide-desc-2 .number{
        font-size: 50px;
      }
      .main-slide.slide-opt-3 .slide-desc-2 .p-second{
        font-size: 17px;
        margin-top: 17px;
      }
      .main-slide.slide-opt-3 .slide-desc-2 p{
        font-size: 13px;
      }
      .main-slide.slide-opt-3 .slide-desc-2 .p-second:before{
        top: -7px;
      }
      .main-slide.slide-opt-4 .slide-desc,
      .main-slide.slide-opt-4 .slide-desc-3 {
        max-width: 300px;
    }
      .main-slide.slide-opt-5 .slide-desc,
      .main-slide.slide-opt-5 .slide-desc-2,
      .main-slide.slide-opt-5 .slide-desc-3{
        top:70px;
        left: 10px;
      }
      .main-slide.slide-opt-5 .p-primary {
        font-size: 20px;
        line-height: 20px;
      }
      .main-slide.slide-opt-5 .btn-shop-now{
        margin-top: 10px;
      }
  }
  @media (max-width:400px){
    .main-slide .slide-desc,
    .main-slide.slide-opt-1 .slide-desc.slide-desc-2, 
    .main-slide.slide-opt-1 .slide-desc.slide-desc-3{
      max-width: 300px;
    }
    .main-slide.slide-opt-3 .slide-desc-1{
      max-width: 250px;
      left: 20px;
    }
  }